@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Bowler>

@*<h1 class="modal-title">Bowlers</h1>*@
<td><a class="border alert" asp-controller="Home" asp-action="Add">Add Bowler</a></td><br /><br />

@*initiate table*@
<table class="table-bordered table-striped">
    @*create headers*@
    <thead class="font-weight-bold">
        <tr class="text-center">
            <td>First Name</td>
            <td>Middle Initial</td>
            <td>Last Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            //Create an app that displays a contact list for all the bowlers in the league:
            //• First Name, Middle Init, Last Name, Address, City, State, Zip, Phone Number
        <tr class="text-center">
            <td>@r.BowlerFirstName</td>
            <td>@r.BowlerMiddleInit</td>
            <td>@r.BowlerLastName</td>
            <td>@r.BowlerAddress</td>
            <td>@r.BowlerCity</td>
            <td>@r.BowlerState</td>
            <td>@r.BowlerZip</td>
            <td>@r.BowlerPhoneNumber</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerID="@r.BowlerID">Edit</a></td>
            
            <td><form method="post">
                <button type="submit" asp-controller="Home" asp-action="Delete" asp-route-bowlerID="@r.BowlerID">Delete</button>
            </form></td>
            
        </tr>
        }
    </tbody>


</table>